@charset "UTF-8"

html {
  background-color: rgb(175, 225, 225);
}

body {
    background-color: rgb(194, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(69, 167, 167);
}
h1#principal {
    text-align: center;
    background-color: rgb(56, 109, 109);
}

h2 {
    color: rgb(114, 180, 180);
}

.basico {
    color: rgb(71, 136, 108);
}

.intermediario {
    color: rgb(148, 148, 46);
}

.avancado {
    color: brown;
}

.destaque {
    
}