/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;     /* Centraliza horizontalmente */
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  font-family:'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 20px; /* Espaçamento entre as imagens */
}

.galeria img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05); /* Efeito ao passar o mouse */
}

a {
    text-decoration: none;
    color: black;
}