 @charset "UTF-8";

 body {
            background-color: rgb(134, 165, 165);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: brown;
            font-size: 1.5em;
        }

        h2 {
            color: rgb(141, 85, 85);
            font-size: 1.2em;
        }

        p {
            text-align: justify;
            font-size: 0.9em;
        }