@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #848C72, #65734F);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3e4731b3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #73573F;
    text-align: center;
    text-shadow: 1px 1px 2px #564231;
}

h2 {
    color: #8DA668;
}

p {
    text-align: justify;
}